.sity-header {
  background-color: $bg-header;
  padding: 20px 0 20px 0;
}
.header {
  text-align: center;
  &__title {
    font-size: 36px;
    color: $white;
    font-weight: 600;
    @include laptop {
      font-size: 29px;
    }
    @include tablet {
      font-size: 29px;
    }
    @include mobile-w {
      font-size: 25px;
      line-height: 1.3;
    }
    @include mobile {
      font-size: 25px;
      line-height: 1.3;
    }
  }
  &__subtitle {
    font-size: 18px;
    color: $white;
    padding: 10px 0 0 0;
    @include laptop {
      font-size: 15px;
      line-height: 1;
    }
    @include tablet {
      font-size: 15px;
      line-height: 1;
    }
    @include mobile-w {
      font-size: 14px;
      line-height: 1;
    }
    @include mobile {
      font-size: 14px;
      line-height: 1;
    }
  }
}
