.modal-dialog {
  //   position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0;
  position: fixed; /* 2 */
  top: 50%; /* 3 */
  left: calc(50% - 200px);
  transform: translate(0, -50%); /* 4 */
  display: none;
}
.submit-btn {
  background-color: rgb(247, 148, 75);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: rgb(245, 111, 14);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  //   margin-bottom: 10px;
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
}
.modal-body {
  padding: 20px;
}
.textable {
  padding-left: 20px;
  margin: 6px 0;
}
.close {
  border: none;
  color: #999;
  font-size: 24px;
  background: none;
  position: absolute;
  right: 10px;
}
.block {
  display: block;
}
